{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        
        <div class="col-md-6">
            <table class="table table-striped">
               <thead>
                <tr>
                  <th scope="col">Measure</th>
                  <th scope="col">Result</th>
                </tr>
               </thead>
            {% for key, value in delta.items() %}
              <tr>
                 <th> {{ key }} </th>
                 <td> {{ value }} </td>
              </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}