{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">        
        <h1>Hi, {{ current_user.username }}!</h1>
        <p>Please fill in the form to calculate the delta</p>        
    </div>
    
    <div class="row">        
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
{% endblock %}